.wrap {
    background-image: url(/img/footer/foot_smoke.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    z-index: 1;
    &__anchor {
        margin: 0 auto;
        display: block;
        text-decoration: none;
        color: #5a5a5a;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(20px);
    }
    @media (min-width: 630px) {
        display: flex;
        transition: all 0.2s ease-in-out;
        width: 330px;
        height: 75px;
        transform: translate(calc(-30% - 5vw), calc(250% - 10vw));
        &:hover {
            transform: translate(calc(-30% - 5vw), calc(250% - 10vw)) scale(1.1);
        }
    }
    @media (min-width: 918px) {
        width: 430px;
        height: calc(90px + 1vw);
        transition: all 0.2s ease-in-out;
        transform: translate(calc(-35% - 5vw), calc(190% - 10vw));
        &:hover {
            transform: translate(calc(-35% - 5vw), calc(190% - 10vw)) scale(1.1);
        }
    }
}

.flexWrap {
    width: 100%;
}

.image {
    width: 15px;
    margin-right: 7px;
}

.text {
    display: inline-block;
    font-size: 15px;
    font-weight: 100;
    transform: translateY(-2px);
}