.wrap {
    margin: 0 auto;
    margin-bottom: 50px;
    width: calc(171px + 3vw);
    background-image: url(/img/common_ribbon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: calc(158px + 5vw);
    height: calc(58px + 3vw);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);
    position: relative;
    span {
        position: relative;
    }
}

.image {
    transform: translateY(-7px) scale(0.3);
    &.thieves {
        transform: translateY(-7px) scale(0.4);
    }
}