.header {
    overflow: hidden;
    height: calc(1400px + 45vw);
    @media (min-width: 1025px) {
        height: calc(603px + 52vw);
    }
    @media (min-width: 630px) {
        height: calc(603px + 52vw);
    }
    &_wrap {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

.toptopCloud {
    background-image: url(/img/story/story_bg-top.png?ver=1.0.1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: absolute;
    z-index: 2;
    top: -50px;
    left: 0;
    transform: rotate(180deg);
    width: 100%;
    height: 40vw;
    @media (min-width: 630px) {
        display: none;
    }
}

.headerCloud {
    background-color: #e5e4da;
    width: 100%;
    height: calc(550px + 15vw);
    margin-top: -40px;
    margin-bottom: -20px;
    @media (min-width: 630px) {
        height: calc(450px + 15vw);
        margin-bottom: 0;
    }
    position: relative;
}

.cloudWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: calc(50px + 49vw);
    left: 0;
    z-index: 1;
    @media (min-width: 630px) {
        top: unset;
    }
    &__top {
        background-image: url(/img/story/story_bg-top.png?ver=1.0.1);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center top;
        width: 100%;
        height: calc(250px + 25vw);
        transform: translateY(calc(200px - 2.7vw));
        @media (min-width: 630px) {
            display: none;
            height: 0;
        }
    }
    &__bottom {
        background-image: url(/img/story/story_bg-bottom.png?ver=1.0.1);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        display: block;
        width: 100%;
        height: calc(50px + 25vw);
        transform: translateY(0);
        -webkit-filter: brightness(95%);
        filter: brightness(95%);
        @media (min-width: 630px) {
            height: 0;
            display: none;
        }
    }
}

.provVisual {
    margin: 0 auto;
    width: 100%;
    height: calc(50vw + 20%);
    display: flex;
    overflow: hidden;
    position: relative;
    @media (min-width: 630px) {
        display: none;
    }
}

.provImg {
    height: 100%;
    opacity: 0;
    transform: scale(2.7) translate(18%, 0);
    transform-origin: center center;
    &.visible {
        opacity: 1;
        -webkit-animation: scaleIn 2s ease forwards 1s;
        animation: scaleIn 2s ease forwards 1s;
    }
}

.headerVisual {
    width: 100%;
    height: 100%;
    display: none;
    @media (min-width: 630px) {
        display: block;
        position: absolute;
        z-index: 0;
    }
}

.headerVisual_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(calc(190px + 1.5vw));
}

.header_visual {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    &.visible {
        -webkit-animation: scaleIn2 2s ease forwards;
        animation: scaleIn2 2s ease forwards;
    }
}

.blur_wrap {
    position: relative;
    width: 100%;
    height: 190px;
    transform: translateY(-100%);
}

@-webkit-keyframes scaleIn {
    0% {
        transform: scale(3.5) translate(18%, 0);
    }
    70% {
        transform: scale(2.7) translate(18%, 0);
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
    85% {
        -webkit-filter: brightness(180%);
        filter: brightness(180%);
    }
    100% {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(3.5) translate(18%, 0);
    }
    70% {
        transform: scale(2.7) translate(18%, 0);
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
    85% {
        -webkit-filter: brightness(180%);
        filter: brightness(180%);
    }
    100% {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
}

@-webkit-keyframes scaleIn2 {
    0% {
        -webkit-filter: blur(50px);
        filter: blur(50px);
    }
    68% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    70% {
        -webkit-filter: brightness(100%) blur(0px);
        filter: brightness(100%) blur(0px);
    }
    85% {
        -webkit-filter: brightness(180%) blur(5px);
        filter: brightness(180%) blur(5px);
    }
    100% {
        -webkit-filter: brightness(100%) blur(0px);
        filter: brightness(100%) blur(0px);
    }
}

@keyframes scaleIn2 {
    0% {
        -webkit-filter: blur(50px);
        filter: blur(50px);
    }
    68% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    70% {
        -webkit-filter: brightness(100%) blur(0px);
        filter: brightness(100%) blur(0px);
    }
    85% {
        -webkit-filter: brightness(180%) blur(5px);
        filter: brightness(180%) blur(5px);
    }
    100% {
        -webkit-filter: brightness(100%) blur(0px);
        filter: brightness(100%) blur(0px);
    }
}