.section {
    margin: 56px auto;
    width: 100vw;
    margin-top: 0px;
}

.cloudWrap {
    width: 100%;
    margin-bottom: 28px;
    margin-right: auto;
    margin-left: auto;
}

.storyWrap {
    margin: -85px 0 -85px 0;
    background-color: #e5e4da;
}

.content {
    width: 90%;
    background-image: url(/img/story/story_bg.png?ver=1.0.0);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateZ(0deg);
    @media (min-width: 340px) {
        padding: 90px 0;
    }
}